<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>大会征文</title>
  <meta name="keywords" content="大会征文"/>
  <meta name="description" content="大会征文"/>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="padding:50px 0;font-family:'Times New Roman';font-weight:bold" align="right">
              Int’l Conf. On Advances in Biological Science and Technology<br/>
							2019国际前沿生物科学与技术国际会议(ICABST2019)<br/>
              2019年12月26日-28日
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/apanse/index">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/apanse/topics">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/apanse/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/apanse/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/apanse/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/apanse/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/apanse/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/apanse/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/apanse/en">English</a></li>
    </ul>
  </div>
  
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page; lh-40">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="public_p pb-20">
        <article class="row-txt">
          <p style="text-align: center; font-size: 30px">
            <strong>2019国际前沿生物科学与技术国际会议</br>SCI、EI、ISTP（CPCI-S）征文通知
            </strong>
          </p>
          <div class="mb-10">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;2019国际前沿生物科学与技术国际会议（ICABST2019）被Nature
              Events（www.nature.com）、科学网、CNKI中国知网、丁香园等平台收录和发布，同时被多个国内外出版机构列为合作会议；且在会议筹备期间，多个出版方提供版面支持，经由我方审核通过的论文，均可安排至相应期刊发表。现面向国内外学者征收相关领域论文，<strong>如您有意向发表SCI、EI期刊论文（非会议论文，正刊版面）及ISTP（CPCI-S）收录检索的会议论文，</strong>请尽早完成初稿的提交。
            </p>
          </div>
					<div class="mb-10">
            <strong>一、发表介绍</strong>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我方合作有多本期刊，所有投稿将根据作者的发表意向及论文质量安排相应的期刊发表。期刊分类如下，<strong>请在投稿时注明发表需求（如发表SCI正刊，影响因子要求、分区要求及发表时间要求等）。</strong>
              <div class="public_p pb-10" style="padding-left: 12px">
								<table border="1" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
									<tbody>
										<tr>
											<th style=" height: 38px; width: 120px; text-align:center">类型</th>
											<th style=" height: 38px; width: 240px; text-align:center">期刊领域</th>
											<th style=" height: 38px; width: 200px; text-align:center">IF及分区</th>
											<th style=" height: 38px; text-align:center">发表详情</th>
										</tr>
										<tr>
											<th rowspan="7" style="height: 38px; text-align:center">SCI期刊</th>
											<td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;生物大类SCI期刊</td>
											<td rowspan="7"style="height: 38px;" align="center">各领域涵盖多本期刊<br/>影响因子0.5-4<br/>中科院2-4区</td>
											<td rowspan="10" style="height: 38px;" align="center">SCI及EI期刊均为正刊发表, 非会议论文,不带任何会议信息<br/><br/>检索类型为Journal Article(期刊全文检索)<br/><br/>发表周期一般为3-6个月</td>
										</tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;生物化学、分子生物学SCI期刊</td></tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;材料类SCI期刊</td></tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;动植物学SCI期刊</td></tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;医药学SCI期刊</td></tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;农业食品SCI期刊</td></tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;SCI摘要(生物、医药领域)</td></tr>  
										<tr>
											<th rowspan="3" style="height: 38px; text-align:center">EI期刊</th>
											<td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;生物类EI期刊</td>
											<td rowspan="3" style="height: 38px;" align="center">最新EI目录列表内</td>
										</tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;农业食品类EI期刊</td></tr>
										<tr><td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;综合领域EI期刊</td></tr>
										<tr>
											<th style="height: 76px; text-align:center">会议论文</th>
											<td colspan="2" style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;我方合作发表的会议论文分为EI检索和ISTP(CPCI-S)检索两种<br/>&nbsp;&nbsp;&nbsp;&nbsp;投稿前请先咨询</td>
											<td style="height: 38px;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;2019年底发表<br/>&nbsp;&nbsp;&nbsp;&nbsp;2020年初完成检索</td>
										</tr>
									</tbody>
								</table>
							</div>
            </p>
          </div>
          <div class="mb-10">
            <strong>二、投稿方式</strong>
						<div class="pl-23">
            <p>1. <a class="pointer" href="/apanse/article" target="_blank" style="color: #102cf7">点击进入在线投稿链接</a>(初稿文档小于10MB)<br/>
              2. 直接将文章发至投稿邮箱editor@apanse.com, 并留言告知您的电话、发表需求等必要信息
            </p>
						</div>
          </div>
          <div class="mb-10">
            <strong>三、征文领域</strong>
						<div class="pl-23">
            <p><strong>生物大类</strong><br/>
              分子生物学相关研究如基因调节表达、DNA和RNA功能序列分析、蛋白质结构、细胞生物学、生物物理学、微生物学和病毒学、组织/器官再生和移植等；<br/>
							生物力学与生物力学工程相关研究如人造器官，器官的生物力学、细胞与分子生物学的生物力学与建模、细胞与组织力学/工程、计算生物力学/生理模型等；<br/>
							生物及分子材料相关研究如生物材料的结构功能、生物材料相容性、生物探针、生物成像、仿生材料、高分子材料、生物能源、生物燃料、生物酶与催化等；<br/>
							以及其他生物领域相关研究；
							</p>
            <p><strong>生物医药类</strong><br/>
              医学生物化学、医学细胞生物学、纳米生物分析、生理信号处理、蛋白质组学、遗传学和基因组学等相关研究；<br/>
              制药工程、生物制药、药理学、医药检验、药物制剂等相关研究；<br/>
              生物医学建模、生物医疗仪器、传感器、人工器官和纳米技术、医学与生物物理学、医学图像与医学电子学等生物医学相关研究；<br/>
              部分临床医学，检验医学，免疫学、公共和环境卫生、物理医学与康复、医疗管理等医学相关研究；<br/>
            </p>
            <p><strong>农业食品、动植物类</strong><br/>
              农业生物技术相关研究如遗传育种、耕作栽培、土壤微生物、
              农业生态、农产品储藏加工、、生物天然产物等；<br/>
              动物科学相关研究如动物生物制品、兽医与动物医学、动物养殖、动物基因与转基因、育种与繁殖等<br/>
              植物科学相关研究如植物栽培、植物营养、植物资源研究、植物病理等<br/>
              食品科学类相关研究如食品加工、检测、营养科学等<br/>
            </p>
            <p><strong>材料类</strong><br/>
              生物材料的制备、性能、评价及基础科学类相关研究<br/>
              生物材料临床应用的相关研究<br/>
              新生物材料技术的相关研究<br/>
              其他相关生物材料领域内的相关研究<br/>
            </p>
						</div>
          </div>
          <div class="mb-10">
            <strong>四、投稿须知</strong>
						<div class="pl-23">
            <p><strong>1. 投稿要求</strong><br/>
              所有投稿文章需承诺无一稿多投，未在其他期刊或会议上公开发表;<br/>
              初稿需为word文档，中英文均可（终稿必须为英文），篇幅在2500words左右，图表分辨率在300dpi以上或作为独立附件提交；<br/>
              初稿无需排版，在文章通过审核后，会根据目标期刊的要求提供模板文件，届时完成排版即可；<br/>
            </p>
            <p><strong>2. 注意事项</strong><br/>
              投稿时请务必提供真实、有效的联系方式并将我方编辑邮箱加入您的白名单<br/>
              投稿时请根据自身情况告知我方您对分区、影响因子及发表时间的要求<br/>
              投稿后我方将在1-2个工作日内给您回复，并在10个工作日内完成论文初审<br/>
              所有投稿将按照作者投稿意向安排发表，如有变动会提前进行沟通<br/>
            </p>
            </div>
					</div>
          <div class="mb-10">
            <strong>五、联系方式</strong>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;责任编辑：孙老师<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿邮箱：editor@apanse.com<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询电话：0371-63226982；18137471420<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询QQ：3475177122<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信公众号：APANSE
            </p>
          </div>
        </article>
      </div>

    </div>
    <div class="page_right col-4-1 fr mr-25">
      <div class="important mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">重要日期</div>
        <ul>
            <p>摘要截止日期: 2019年10月20日</p>
            <p>全文截稿日期: 长年征稿（本批次7月30日截止）</p>
            <p>会议日期:2019年12月26日-28日</p>
						<p>参会注册截止: 2019年10月31日</p>
						<p>**逾期未完成注册，将按照后期注册处理</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">组织机构</div>
        <ul>
            <p>亚太自然科学与工程协会</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">联系我们</div>
        <ul>
            <p>会务邮箱：icabst@apanse.com</p>
            <p>投稿邮箱：editor@apanse.com</p>
            <p>咨询电话：0371-63226982</p>
            <p>手机号码：18137471420</p>
            <p>咨询QQ：3475177122</p>
            <p>微信公众号：APANSE</p>
        </ul>
      </div>
    </div>
    
    <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int’l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


<script type="text/javascript">
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>




</div>
</body>
</html>


