<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>参会注册</title>
  <meta name="keywords" content="参会注册"/>
  <meta name="description" content="参会注册"/>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="padding:50px 0;font-family:'Times New Roman';font-weight:bold" align="right">
              Int’l Conf. On Advances in Biological Science and Technology<br/>
							2019国际前沿生物科学与技术国际会议(ICABST2019)<br/>
              2019年12月26日-28日
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/apanse/index">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/apanse/topics">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/apanse/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/apanse/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/apanse/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/apanse/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/apanse/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/apanse/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/apanse/en">English</a></li>
    </ul>
  </div>
    
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page; lh-40">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">参会注册</div>
      <div class="public_p pb-20">
        <p>
          本届大会欢迎国内外高校、科研机构从事相关领域研究的的科研人员、学者、教授、硕博士生和企业代表参会交流；共分为“听众”“口头报告”及“张贴报告”三种参会注册形式
        </p>
        <p>
          <strong>注册步骤：</strong>
        </p>
        <p>


          1. <a class="pointer" href="/apanse/submit" target="_blank" style="color: #102cf7"><u>通过在线报名页面</u></a>提交参会信息，并选择参会类型
        </p>
        <p>
          2. 我方会在一周内与您核对相关信息并提供相关材料（如会议通知、录用函等）
        </p>
        <p>
          3. 根据相关材料进行缴费注册
        </p>
        <p>
          4. 完成注册后，将由会议主办方及泰国合作方提供正式邀请函
        </p>
        <p>
          5. 参会者收到正式邀请函后办理签证、审批等程序。
        </p>
        <p>
          注：1. 本届会议将于12月底召开，鉴于出境参加学术会议需要所在单位提前审批，因此希望您提前安排参会及申请事宜，以便我方将提供需要的文档材料。
        </p>
        <p>
          注：2. 如有参会者提前需要邀请函、录用函或其他相关材料，请将相关请求发至会务邮箱icabst@apanse.com
        </p>


      </div>

      <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">费用详情</div>
      <div class="public_p pb-20">
        <table border="1" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
          <tbody>
          <tr>
            <th style=" height: 38px; width: 120px; text-align:center">注册人员类型<br/>(截止时间)</th>
            <th style=" height: 38px; width: 120px; text-align:center">标准注册<br/>(10月31日)</th>
            <th style=" height: 38px; width: 120px; text-align:center">晚期/现场注册<br/>(12月25日)</th>
            <th style=" height: 38px; text-align:center">包含内容</th>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">教师/科研人员</th>
            <td style="height: 38px;" align="center">450 USD</td>
            <td style="height: 38px;" align="center">520 USD</td>
            <td rowspan="3" style="height: 38px;" align="center">会议材料，会议指南（含摘要），参会证明，12月26-27日午餐，茶歇点心，税费及货币转换费</td>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">应届在读学生</th>
            <td style="height: 38px;" align="center">400 USD</td>
            <td style="height: 38px;" align="center">470 USD</td>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">企业人员</th>
            <td style="height: 38px;" align="center">600 USD</td>
            <td style="height: 38px;" align="center">700 USD</td>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">仅发表论文</th>
            <td colspan="3" style="height: 38px;" align="center">将根据所发表的论文类型而定, 详情请咨询负责人 （无需参会，且不会影响论文发表进度</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="public_p pb-20">
        <p><strong>备注说明</strong></p>
        <p>1. 完成缴费后，请将相关回执扫描件（或拍照）发至会务组</p>
        <p>
          2. 参会费发票分为国际发票与国内发票两种，请根据单位要求说明开票形式
        </p>
        <p>3. 发票默认将于会议现场与会议材料一同发放，如有特殊要求的参会者，可提前告知</p>
        <p>4. 会议注册费不包含住宿费、交通费、文章出版到期刊的费用、及额外的参观费用</p>
      </div>
      <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">退费说明</div>
      <div class="public_p pb-20">
        <p>
          如有特殊原因欲取消注册的参会人员，请以正式书面文件/扫描件的形式通知组委会
        </p>
        <p>
          1）如在10月31日前取消，则全额退费（手续费需由参会者自行承担）
        </p>
        <p>
          2）如在11月1日至11月30日内取消，则退款50%（续费需由参会者自行承担）
        </p>
        <p>
          3）12月1日后无法取消，不退费
        </p>
        <p>
          *如已缴费的参会者无法参会，可将其参会名额转至其他同事、同学。
        </p>
        <p>
          *退费均采用“原路退回”的形式进行
        </p>
      </div>

    </div>
    <div class="page_right col-4-1 fr mr-25">
      <div class="important mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">重要日期</div>
        <ul>
            <p>摘要截止日期: 2019年10月20日</p>
            <p>全文截稿日期: 长年征稿（本批次7月30日截止）</p>
            <p>会议日期:2019年12月26日-28日</p>
						<p>参会注册截止: 2019年10月31日</p>
						<p>**逾期未完成注册，将按照后期注册处理</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">组织机构</div>
        <ul>
            <p>亚太自然科学与工程协会</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">联系我们</div>
        <ul>
            <p>会务邮箱：icabst@apanse.com</p>
            <p>投稿邮箱：editor@apanse.com</p>
            <p>咨询电话：0371-63226982</p>
            <p>手机号码：18137471420</p>
            <p>咨询QQ：3475177122</p>
            <p>微信公众号：APANSE</p>
        </ul>
      </div>
    </div>
    
    <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int’l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


</div>
</body>
</html>
