<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>特邀嘉宾</title>
  <meta name="keywords" content="特邀嘉宾"/>
  <meta name="description" content="特邀嘉宾"/>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">



    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="padding:50px 0;font-family:'Times New Roman';font-weight:bold" align="right">
              Int’l Conf. On Advances in Biological Science and Technology<br/>
							2019国际前沿生物科学与技术国际会议(ICABST2019)<br/>
              2019年12月26日-28日
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/apanse/index">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/apanse/topics">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/apanse/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/apanse/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/apanse/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/apanse/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/apanse/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/apanse/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/apanse/en">English</a></li>
    </ul>
  </div>
    
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page; lh-40">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">特邀嘉宾</div>
      <!--dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/02-25/0c4a742c52cbd381373c7eefa0c8c85c.png"/>
        </div>
        <dt>郭毅可</dt>
        <dd>英国皇家工程院院士，欧洲科学院院士，英国帝国理工学院数据科学研究所所长，上海大学计算机学院院长</dd>
        <dd><strong>研究领域：</strong>分布式数据挖掘，在网格计算、云计算、传感器网络和生命科学领域中的数据科学。</dd>
        <dd>
          1980年至1987年在清华大学计算机系计算机专业就学，是首批清华硕博联读生。1987年被公派至英国留学，1994年博士毕业于英国帝国理工学院计算机系，获科学博士学位。2002年成为帝国理工学院计算机系最年轻的计算机科学教授，2014年创建帝国理工数据科学研究所并被任命为所长。2015年4月起，担任上海大学计算机工程与科学学院院长。
        </dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/02-25/0b580b2271db80b2ef23230adc262b35.png"/>
        </div>
        <dt>张建伟</dt>
        <dd>德国汉堡科学院院士，德国汉堡大学教授，多模态技术研究所所长，国家千人计划专家</dd>
        <dd><strong>研究领域：</strong>智能感知、机器学习、自主规划、多传感信息融合、智能机器人、多模态人机交互。</dd>
        <dd>
          1986年清华大学计算机系学士第一名毕业，1989年获清华大学计算机系硕士(人工智能)学位，1994年获德国卡尔斯鲁厄大学计算机系博士(机器人)学位。发表三百余篇论文专著，多次获得国际会议最佳论文奖，拥有四十余项发明专利。担任多个国际智能机器人及智能控制会议的大会主席、数家国际企业顾问、国务院侨办及中国侨联专家海外咨询委员、德国清华校友会会长、德中企业家联合会会长、北德华人华侨联合会会长。
        </dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/02-26/4df71bf8d088d8d79b2e6abf222d432f.png"/>
        </div>
        <dt>傅晓明</dt>
        <dd>德国哥廷根大学终身教授，中国教育部、清华大学计算机系长江学者讲座教授，美国UCLA富布莱特学者讲座教授，国际电气与电子工程师学会（IEEE）高级会员</dd>
        <dd><strong>研究领域：</strong>互联网、移动计算、云计算、大数据及社会网络。</dd>
        <dd>
          1994年毕业于东北大学，获学士学位，1997年获东北大学计算机应用专业硕士学位，2000年获清华大学计算机系统结构专业博士学位。2000年底担任德国柏林工业大学研究员。2002年起任教德国哥廷根大学，创建计算机网络研究实验室，兼任数学与计算机科学学院学术院长、国际办公室主任等职。2007年（33岁）成为哥廷根大学建校270年历史上的第一位华人终身教授（时为全校最年轻的教授），也是德国历史上由中国博士获聘终身教授职位的第一人。他曾担任IEEE
          ICNP 2013、ACM ICN 2016等国际学术会议总主席，以及Green ICN、Mobile Cloud、Clean Sky及ICN 2020等多个欧盟大型科研项目的总负责人、首席科学家。
          <p>&nbsp;</p>
          <p>&nbsp;</p></dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/02-25/06dcf9cc733e77399e4f117562136ad1.png"/>
        </div>
        <dt>何泾沙</dt>
        <dd>北京工业大学教授，博士生导师、北京市特聘教授、湖北 “楚天学者 计划” 主讲教授</dd>
        <dd><strong>研究领域：</strong>计算机网络、信息安全、3D打印、大数据与云计算安全、数字取证。</dd>
        <dd>毕业于美国马里兰大学，先后任职于美国IBM Corp. (资深计算机科学家）、MCI Communications Corp. (高级工程师）、GRIC Communications, Inc.
          (首席工程师）等，先后获取美国发明专利12项。2003年通过北京市高层次人才项目引进到北京工业大学任教授。截止2017年3月，在国内外学术期刊和国际会议上共发表论文261篇，其中已被SCI收录21篇，EI/ISTP收录184篇，获中国发明专利58项，主持了包括国家自然科学基金项目、863课题等30余项。
        </dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/02-26/d22d7755618a85b0833749278fb9998e.png"/>
        </div>
        <dt>林海翔</dt>
        <dd>荷兰Delft理工大学教授，浙江理工大学“金沙学者讲座教授”</dd>
        <dd><strong>研究领域：</strong>高性能计算、并行分布算法、大规模复杂系统建模与仿真。</dd>
        <dd>
          1979年考入清华大学，1979年赴荷兰代尔夫特理工大学留学，在荷兰代尔夫特理工大学分别获得学士、硕士和博士学位。林海翔教授是并行分布计算与数据建模仿真领域知名学者。他承担了欧洲、荷兰10多项科研项目，发表研究论文100多篇。担任多个国际学术期刊编委、学术会议程序委员会主席/副主席，曾担任全欧华人专业协会联合会主席、荷兰华人学者工程师协会主席，曾获荷兰女皇勋章；担任中国科学院大学、山东大学、广西大学访问（客座）教授。<br/>&nbsp;
        </dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/02-26/9ad39d0a4954bf7765a0e6b90685c633.png"/>
        </div>
        <dt>吴少凡</dt>
        <dd>中国科学院海西研究院研究员，博士生导师</dd>
        <dd><strong>研究领域：</strong>激光与非线性光学晶体、闪烁晶体与闪烁陶瓷等新型功能材料。</dd>
        <dd>
          1998年获厦门大学材料化学学士学位，2003年获中科院福建物构所凝聚态物理硕士学位，2006年获中科院福建物构所物理化学博士学位。作为第一完成人，获得福建省科技进步奖二等奖（2004年度）、石油和化学化工协会科技进步奖一等奖（2005年度）；作为第三完成人，获国家科技进步奖二等奖（2011年度）、福建省科技进步奖一等奖2项（2007、2000年度）；获福建青年科技奖（2005年度）、福建运盛青年科技奖（2005年度）和中国石化协会青年科技突出贡献奖称号（2009年度），2011年度获得福州市杰出科技人员称号。
          <p>&nbsp;</p>
          <p>&nbsp;</p></dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/05-10/04b1cb499b6f0a46e283d50f77a76266.jpg"/>
        </div>
        <dt>徐军华</dt>
        <dd>新加坡南洋理工大学（NTU）-法国原子能委员会(CEA)联合实验室研究员</dd>
        <dd><strong>研究领域：</strong>废旧智能制造产品的回收和利用。</dd>
        <dd>
          2013年12月获得欧盟玛丽居里博士奖学金，2018年获得芬兰赫尔辛基大学博士学位，2018年9月到2019年3月，在赫尔辛基大学开展博士后研究，2019年3月至今新加坡南洋理工大学研究员。目前已经发表学术论文10余篇，其中6篇影响因子大于5，申请并授权发明专利三项，科研成果曾被赫尔辛基大学新闻和中央电视台专题报道。曾参加第九届国际核化学赫尔辛基会议，2016国际离子交换剑桥大学会议等，并担任2018年第十届欧洲论坛担任大会主席。此外，受邀多个国际期刊审稿人，包括Chemical
          Engineering Journal，materials以及Nuclear Science and Techniques等。
        </dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <div class="fl col-4-4" style="display: table;">
          <img src="/d/file/p/2019/05-24/7803b98a9f23a876d43f59d2f725ebef.jpg"/>
        </div>
        <dt>李俊</dt>
        <dd>中国科学院海西研究院研究员，福建省机器人智能控制工程技术研究中心主任</dd>
        <dd><strong>研究领域：</strong>自适应控制、认知系统建模、人机交互、神经网络、机器人控制技术等。</dd>
        <dd>
          2009年在德国维尔茨堡大学获信息及计算机科学硕士学位，2012年在慕尼黑大学（LMU）机器人人工智能实验室（COTESYS）获得博士学位，同年开始在德国马尔堡大学从事博士后研究，之后留校任职并从事相关研究。留德期间先后承担和参与了多项德国（DFG）及欧盟范围内多项企业相关研发项目，归国后入选福建省第五批百人计划、中科院海西研究院引进优秀海外高层次人才、泉州市引进高层次创新百人、晋江市优秀人才，主持国家十三五重点研发计划子课题、福建省科技重大专项及多项企业委托项目，参与国家科技支撑计划、多项省市各级政府重点科技计划、中科院先导计划A类及STS计划等多个项目。发表专著2部，专业论文16篇，申请及授权专利36件（PCT国际专利1件），软件著作权3项。
        </dd>
        <div class="clear"></div>
      </dl-->

    </div>

    <div class="page_right col-4-1 fr mr-25">
      <div class="important mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">重要日期</div>
        <ul>
            <p>摘要截止日期: 2019年10月20日</p>
            <p>全文截稿日期: 长年征稿（本批次7月30日截止）</p>
            <p>会议日期:2019年12月26日-28日</p>
						<p>参会注册截止: 2019年10月31日</p>
						<p>**逾期未完成注册，将按照后期注册处理</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">组织机构</div>
        <ul>
            <p>亚太自然科学与工程协会</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">联系我们</div>
        <ul>
            <p>会务邮箱：icabst@apanse.com</p>
            <p>投稿邮箱：editor@apanse.com</p>
            <p>咨询电话：0371-63226982</p>
            <p>手机号码：18137471420</p>
            <p>咨询QQ：3475177122</p>
            <p>微信公众号：APANSE</p>
        </ul>
      </div>
    </div>
        <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int’l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


</div>
</body>
</html>
