<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>大会详情</title>
  <meta name="keywords" content="大会详情" />
  <meta name="description" content="大会详情" />
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js" ></script>
  <script type="text/javascript" src="../js/superslide.2.1.js" ></script>
  <script type="text/javascript" src="../js/js.js" ></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">



    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="padding:50px 0;font-family:'Times New Roman';font-weight:bold" align="right">
              Int’l Conf. On Advances in Biological Science and Technology<br/>
							2019国际前沿生物科学与技术国际会议(ICABST2019)<br/>
              2019年12月26日-28日
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/apanse/index">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/apanse/topics">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/apanse/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/apanse/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/apanse/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/apanse/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/apanse/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/apanse/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/apanse/en">English</a></li>
    </ul>
  </div>
  
  </div>
  <!--header end-->

  <div class="w-1200 bg_white pt-30">

    <div class="page; lh-40">
      <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">大会详情</div>
        <div class="public_p pb-20">
          <p style="text-align: center;">
            <strong>2019国际前沿生物科学与技术国际会议（ICABST2019）会议通知</strong>
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019国际前沿生物科学与技术国际会议（ICABST2019）将于2019年12月26日-28日在泰国曼谷召开。会议由亚太自然科学与工程协会主办。
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大会旨在促进生物科学技术的发展，并为分子生物学、生物医学与制药、生物力学与工程、生物及分子材料、生物化学、农业食品科学、
						及动植物学等相关学科领域的专家和学者搭建国际性学术交流平台，展示前沿研究成果，交流探讨最新工程技术，提出学科面临的考验，探索相关解决方法，推动生物科学与技术行业的发展。
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本届会议被Nature Events（www.nature.com）、科学网、CNKI中国知网、丁香园等平台收录和发布，同时被多个国内外出版机构列为合作会议；
            且在会议筹备期间，多个出版方提供版面支持，经由我方审核通过的论文，均可安排至相应期刊发表，并送交至相关数据库如SCI、EI及ISTP（CPCI-S）进行收录检索。
          </p>

          <p><strong>重要时间</strong></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报到签到：A. 2019年12月26日 15:00-17:00</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. 2019年12月27日 8:00-8:40
					</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;摘要截止：2019年10月20日</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册截止：2019年10月31日（逾期按照晚期注册处理—晚期注册费用较高</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全文截止：全文长年均可投稿，本批次7月30日截止<br />&nbsp;</p>
					
					<p><strong>有关签证信息、泰国当地交通及住宿信息，请参考<a title="AIAM2019会议地点" href="/apanse/venue" style="color: #102cf7"><u>会议地点</u></a>中相关内容</strong></p>
        </div>

        <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">大会议题</div>
        <div class="public_p pb-20">
          <p>
            大会将围绕“前沿生物科学与技术”，分为以下议题：
					</p>
            <p>1. 分子生物学; </p>
            <p>2. 生物医学与制药</p>
            <p>3. 生物力学与工程</p>
            <p>4. 生物及分子材料</p>
            <p>5. 生物化学</p>
            <p>6. 农业食品及动植物</p>
            <p>7. 其他相关领域应用</p>

        </div>
        <div class="background4" style="padding-left:85px; padding-bottom: 20px; line-height: 65px">报告简介</div>
        <div class="public_p pb-20">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本届会议报告分为特邀报告、主题报告、口头报告和张贴海报四类形式。各类报告及听众参会，均会颁发交流证书。
						大会鼓励各界学者、科研人员踊跃参会，共同为从事相关领域的同僚提供最新研究成果、探讨最新技术、了解国际研究前沿和热点的机会和平台。
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如参会者有意向做报告，请在提交参会信息时选择对应的报告形式并提交相关材料，大会将在一周内完成初审并告知审核结果。
						口头报告/主题报告的报告人需在会议召开前将PPT提供给组委会；张贴海报的参会人员需按相关要求自行准备海报，并在签到时交予大会工作人员。
					</p>
        </div>

      </div>
    <div class="page_right col-4-1 fr mr-25">
      <div class="important mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">重要日期</div>
        <ul>
            <p>摘要截止日期: 2019年10月20日</p>
            <p>全文截稿日期: 长年征稿（本批次7月30日截止）</p>
            <p>会议日期:2019年12月26日-28日</p>
						<p>参会注册截止: 2019年10月31日</p>
						<p>**逾期未完成注册，将按照后期注册处理</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">组织机构</div>
        <ul>
            <p>亚太自然科学与工程协会</p>
        </ul>
      </div>
      <div class="contact mt-10">
        <div class="f-30 text-center pt-20 pb-20 color-03 f-b">联系我们</div>
        <ul>
            <p>会务邮箱：icabst@apanse.com</p>
            <p>投稿邮箱：editor@apanse.com</p>
            <p>咨询电话：0371-63226982</p>
            <p>手机号码：18137471420</p>
            <p>咨询QQ：3475177122</p>
            <p>微信公众号：APANSE</p>
        </ul>
      </div>
    </div>
      
      <div class="clear"></div>


    </div>

  </div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int’l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


  <script type="text/javascript">
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>




</div>
</body>
</html>
