<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>会议地点</title>
  <meta name="keywords" content="会议地点"/>
  <meta name="description" content="会议地点"/>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">



    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="padding:50px 0;font-family:'Times New Roman';font-weight:bold" align="right">
              Int’l Conf. On Advances in Biological Science and Technology<br/>
							2019国际前沿生物科学与技术国际会议(ICABST2019)<br/>
              2019年12月26日-28日
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/apanse/index">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/apanse/topics">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/apanse/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/apanse/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/apanse/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/apanse/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/apanse/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/apanse/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/apanse/en">English</a></li>
    </ul>
  </div>
  
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">
	<div class="page; lh-40" style="border: 2px dashed; border-color: #c3bfbf; padding: 10px;">
    <div class="page_left col-6-6" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="f-24 f-b  mb-10 background3" style="padding-left:105px; line-height: 85px">&nbsp;&nbsp;会议地点</div>
      <div class="public_p pb-20">
				<p class="f-b">酒店名称：曼谷塔瓦纳酒店 (The Tawana Bangkok, <a href=" http://www.tawanabangkok.com/" style="color: #102cf7" target="_blank"><u>http://www.tawanabangkok.com/) </u></a><br/>
				地址：80 Surawongse Road, Bangrak, Bankok 10500 Thailand<br/>
				会议室: Murano Room<br/>
				可通过Booking.com预定酒店房间: <a href="https://www.booking.com/hotel/th/tawana.zh-cn.html?aid=1633942;label=baidu-brand-list1;sid=a0ff97e5e37d5edbc4ed57d5453febf3;dest_id=-3414440;dest_type=city;dist=0;hapos=1;hpos=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1560999642;srpvid=de89152dd7440131;type=total;ucfs=1&#hotelTmpl" style="color: #102cf7" target="_blank"><u>www.booking.com</u></a>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位于曼谷Surawongse路的“曼谷塔瓦纳酒店”不仅以其高标准的高效率和友好的服务而闻名，而且还以其最优越的市中心位置而闻名于世。对于休闲和度假客人来说，酒店的中心位置提供了方便的旅行机会，可以到达曼谷大多数最好的购物、观光景点和娱乐设施，还可以步行到曼谷的天车BTS Silom (Saladaeng站)和MRT地铁Rama 4 (Samyan站)。为了满足商务旅客的需求，曼谷塔瓦纳酒店提供了无与伦比的优势。大堂设备齐全的商务中心为繁忙的行政人员提供了秘书和会议室开会的便利。整个酒店都提供高速WiFi (无线互联网)，允许在客房、泳池边、餐厅或酒店大堂进行“连接”。在附近的高速公路上，可以方便地到达曼谷的会议和展览中心，以及距曼谷仅35公里的素万那普国际机场。
					</p>
					<ul>
						<li><img src="../img/meeting-events-01.jpg" height="400px"><img src="../img/meeting-events-02.jpg" height="400px"><img src="../img/meeting-events-03.jpg" height="400px" width="299px"><img src="../img/meeting-events-04.jpg" height="400px"></li>
						<div class="clear"></div>
						</ul>
				</div>
      </div>
    <div style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px">
			<div class="f-24 f-b  mb-10 background3" style="padding-left:105px; line-height: 85px">参考路线</div>
        <p>
					<strong>1. 素万那普机场：</strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①乘坐机场线(Airport Express Line, 披耶泰/Phaya Thai方向), 至披耶泰站(Phaya Thai)下车<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②然后换乘BTS Sukhumvit Line (Kheha方向)至暹罗站(Siam)下车<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③之后换乘BTS Silom Line(邦哇/Bangwa方向) 至莎拉当站Sala Daeng<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;④步行至曼谷塔瓦纳酒店 (The Tawana Bangkok)
				</p>
				<p>
					<strong>2. 廊曼国际机场：该机场历史悠久， 但交通较为匮乏，仅有出租车及巴士（巴士在到达厅的6号门乘坐）----</strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A1巴士可到达Chatuchak站，可换乘BTS<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A2巴士可到达Victory Monument站，可换乘BTS，周边较为繁华<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A3巴士可到达Lumphini Park站，可换成MRT（仑披尼站），附近为大型公园<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A4巴士可到达Sanamluang站，无BTS或MRT换乘，距离大皇宫等景点较近<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5巴士可到达Future Park Rangsit站，附近有个大型购物中心，但是去往市区的反方向
				</p>
				<p><strong>3. 也可直接搭乘出租车（告知司机打表/by meter）</strong></p>
				<p><strong>4. 下图为曼谷BTS(轻轨)线路图, 以供参考</strong>
				<ul>
					<li><img src="../img/bts_map.jpg"/></li>
				</ul>
		</div>
			<div class="f-24 f-b  mb-10 background3" style="padding-left:105px; line-height: 85px">签证信息</div>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国大陆赴泰国可通过落地签，也可提前申请签证。在线提交或发送参会回执后，会务组将为参会者出具正式邀请函，以便申请签证使用。持有中国护照的公民入境泰国可落地签或预先办理签证，推荐办理签证赴泰国。关于入境、
					<u>
						<a href="http://www.thaiembbeij.org/thaiembbeij/cn/thai-service/visa/" target="_blank" style="color: #102cf7">申请泰国签证</a>
					</u>和
					<u>
						<a href="http://cs.mfa.gov.cn/gyls/lsgz/fwxx/t1237526.shtml" target="_blank" style="color: #102cf7">办理落地签</a>
					</u>有关事宜，请访问
					<u>
						<a href="http://cs.mfa.gov.cn/gyls/lsgz/fwxx/t1237526.shtml" target="_blank" style="color: #102cf7">中国领事服务网</a>
					</u>和
					<u>
						<a href="http://www.thaiembbeij.org/thaiembbeij/cn/thai-service/visa/" target="_blank" style="color: #102cf7">泰国驻华大使馆官网</a>
					</u>。
				</p>
    <div class="clear"></div>
  </div>
</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int’l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


</div>
</body>
</html>
